/* .searchRecipe {position: fixed;} */
.searchRecipe ul li input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    margin-bottom: 8px;
    margin-left: 16px;
    font-size: 17px;
}

.searchRecipe ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align: center;
}

.searchRecipe ul li {
    float: left;
    margin: auto;
    border-right:1px solid #bbb;
}
    

#sort {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    margin-bottom: 8px;
    margin-left: 16px;
    font-size: 17px;
}

.menu{
    /* float: left; */
    height: 55%;
    margin-top: 50px;
    /* margin-left: 150px; */
    margin-left: auto;
    margin-right: auto;
    background-color: bisque;
    text-align: center;
    position: relative;
    /* left: 0; */
    overflow-x: hidden; 
    overflow-y: auto; 
    width: 80%;
}

.menu table, tbody{
    max-height: inherit;
}

.menu td {
    padding: 10px;
    width: 150px;
    height: 125px;
}

.menu td:hover {
    background-color: cadetblue;
}

#howToMakeBox{
    border: 15px solid #333;
    background-color:rgb(55, 109, 160);
    color: white;
    height: 100%;
    width: 35%;
    float: right;
    position: fixed;
    /* margin-right: 125px;
    margin-top: 50px;
    min-height: 200px; */
    padding: 15px;
    position: relative;
    right: 0;
}

#recipeInfo p, ul, li {
    text-align: left;
}

.foodIcon{
    width: 100px;
    height: 100px;

}


#list_btn {
    width: 50;
    height: 50px;
    margin: auto;
    align-items: center;
}

.DaysOfWeek{
    margin-left: auto;
    margin-right: auto;
    padding: 10px, 25xp;
    /* width: 125px;
    min-height: 100px; */
}
.DaysOfWeek th{
    margin: auto;
    width: 125px;
    min-height: 100px;
    color: white;
    background-color: black;
    text-align: center;
}

.DaysOfWeek td{
    margin: auto;
    width: 125px;
    height: 100px;
    background-color: bisque;   
}

/* Image gallery*/
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    overflow-x: hidden; 
    overflow-y: auto; 
    width: 60%; 
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    float: left;
    flex: 25%;
    max-width: 120px;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100px;
    height: 100px;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      float: left;
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      float: left;
      flex: 100%;
      max-width: 100%;
    }
  }

  /* Modify recipe image upload buttons */
  .img_upload {
    background-color: rgb(20, 78, 37);
    color: white;
    padding: 0.5rem;
    cursor: pointer;
    margin-top: 1rem;
    border-width: 0px;
    border-style: outset;
    border-color: black;
  }

  .addRow{
    background-color: rgb(20, 78, 37);
    color: white;
    cursor: pointer;
    border-width: 0px;
    border-style: outset;
    border-color: black;
  }

  .removeRow{
    background-color: rgb(20, 78, 37);
    color: white;
    cursor: pointer;
    border-width: 0px;
    border-style: outset;
    border-color: black;
  }
  input[type=submit], input[type=button], input[type=reset]{
    background-color:rgb(20, 78, 37);
    color: white;
    padding: 0.5rem;
    cursor: pointer;
    margin-top: 1rem;
    border-width: 0px;
    border-style: outset;
    border-color: black;
  }

  #pastList li {
    font-size: 18px;
  }