/* .searchRecipe {position: fixed;} */
.searchRecipe ul li input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    margin-bottom: 8px;
    margin-left: 16px;
    font-size: 17px;
}

.searchRecipe ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align: center;
}

.searchRecipe ul li {
    float: left;
    margin: auto;
    border-right:1px solid #bbb;
}
    

#sort {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    margin-bottom: 8px;
    margin-left: 16px;
    font-size: 17px;
}

.menu{
    /* float: left; */
    height: 55%;
    margin-top: 50px;
    /* margin-left: 150px; */
    margin-left: auto;
    margin-right: auto;
    background-color: bisque;
    text-align: center;
    position: relative;
    /* left: 0; */
    overflow: auto;
    width: 80%;
}

.menu table, tbody{
    max-height: inherit;
}

.menu td {
    padding: 10px;
    width: 150px;
    height: 125px;
}

.menu td:hover {
    background-color: cadetblue;
}

#howToMakeBox{
    border: 15px solid #333;
    background-color: aqua;
    height: 100%;
    width: 35%;
    float: right;
    position: fixed;
    /* margin-right: 125px;
    margin-top: 50px;
    min-height: 200px; */
    padding: 15px;
    position: relative;
    right: 0;
}

.foodIcon{
    width: 50;
    height: 50px;

}


#list_btn {
    width: 50;
    height: 50px;
    margin: auto;
    align-items: center;
}

.DaysOfWeek{
    margin-left: auto;
    margin-right: auto;
    padding: 10px, 25xp;
    /* width: 125px;
    min-height: 100px; */
}
.DaysOfWeek th{
    margin: auto;
    width: 125px;
    min-height: 100px;
    color: white;
    background-color: black;
    text-align: center;
}

.DaysOfWeek td{
    margin: auto;
    width: 125px;
    height: 100px;
    background-color: bisque;   
}