/* Navigation ------------------------------- */
nav{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align: center;
}
  
li {
    float: left;
    margin: auto;
    border-right:1px solid #bbb;
}
  
li:last-child {
    border-right: none;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover:not(.active) {
    background-color: #111;
}
  
.active {
    background-color: #4CAF50;
}

#accountMenu{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

#accountBtn:hover #accountMenu {
    display: block;
    /* float: right; */
  }
/* ------------------------------------------ */

body{
    background-color: rgb(59, 59, 59);
}
header{
    width: 90%;
    min-height: 200px;
    /* background-color: rgb(126, 245, 245);  */
    margin-left: auto;
    margin-right: auto; 
}
main{
    width: 90%;
    height: 70vh;
    min-height: 500px; 
    background-color: azure;
    margin: auto;
    position: relative;
}

